///////////////////////////////////////////// Exemple de cours //////////////////////////////////////////////
$primary-color : #ff752f ;

body{
   color: $primary-color; 
}

.button{
    display:  inline-block;
    color: $primary-color;
    text-align: center;
    border: solid 2px $primary-color;
}

.button-alert{
    a{
        @extend .button;
        border-radius: 4px;
    }
}

@mixin inline-block($margin : 10px) {
    display: inline-block;
    margin-left: $margin;
}
#box{
    font: {
        weight : bold ;
        family : algerian ;
    }
    @include inline-block(); // ajouter un paramétre si on veut changer la valeur par défaut exp:40px
}

@for $i from 1 through 3 {
    .m-#{$i} {
        margin: 0 ($i*0.25rem);
    }
}

$list-colors: "blue","red","green";
@each $color in $list-colors {
    .btn-#{$color}{
        background-color: #{$color};
    }
    
}

$primary-color: #ff752f;
.btn{
    background: $primary-color;
    border-radius: 5px;
    @if lightness($primary-color)>50% {
        color: #ffb60b;
    }@else{
        color: #ff1f17;
    }
}
///////////////////////////////////////////////////Atelier///////////////////////////////////////////////////
.text{
    color: red;
    font-size: 20px;
}
textarea{
   @extend .text;
}
h1{
    @extend .text
}

@mixin At($color,$width) {
    border: $width solid $color ;
}
.btnn{
    @include At(yellow,2px); 
}

$text:white;
@function background($background-color){
@if background-color!='white' {
    @return white;
}
    @else {
    @return black ;}
}

$langages: "HTML5","CSS3","JAVA","React";
@function premier($list){
    @return nth($list,1);
    }
@function dernier($list){
    @return nth($list,length($list));
    }
    //Tester la function
    .prem{
        content: premier($langages);
    }

    .dern{
        content: dernier($langages);
    }